<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">

<title>Elder Monitoring Dashboard</title>

<meta http-equiv="refresh" content="5">

<style>

body{
    font-family: Arial;
    margin:20px;
}

.card{
    border:1px solid #ccc;
    padding:20px;
    margin-bottom:20px;
}

img{
    max-width:500px;
}

table{
    border-collapse: collapse;
    width:100%;
}

th,td{
    border:1px solid #ccc;
    padding:8px;
}

</style>

</head>

<body>

<h1>Elder Fall Detection Dashboard</h1>

{% if latest %}

<div class="card">

<h2>Latest Alert</h2>

<p><b>Camera:</b> {{latest.camera}}</p>
<p><b>Event:</b> {{latest.event}}</p>
<p><b>Time:</b> {{latest.time}}</p>

{% if latest.image %}
<img src="/static_alert/{{latest.image}}">
{% endif %}

</div>

{% endif %}

<h2>History</h2>

<table>

<tr>
<th>Camera</th>
<th>Event</th>
<th>Time</th>
<th>Image</th>
</tr>

{% for e in events %}

<tr>

<td>{{e.camera}}</td>
<td>{{e.event}}</td>
<td>{{e.time}}</td>

<td>

{% if e.image %}

<img
src="/static_alert/{{e.image}}"
width="200"
>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</body>

</html>